body {
	background-color: #4f4f4f;
	overflow: auto;
	width: 100%;
	font-family: 'Verdana', 'Geneva', sans-serif;
}

.clear {
	border: 0;
	clear: both;
	margin: 0;
	padding: 0;
}

p {
	font-size:10pt;
	color: #fff;
}

#topic_header, #topic_footer,
#toc_header, #toc_footer  {
	padding: 10px;
}

#topic_content,
#toc_content{
	margin: 10px;
}

/* Backgrounds */

#topic_header {
	border-bottom: 1px solid #3c3c3c;
	margin-bottom: 15px;
}

#topic_footer{
	background: #3c3c3c url(../img/footer-bg.png) repeat-x left top;
	margin-top: 20px;
}

/* Topic */

/*
#topic_header #topic_header_content {
	float: left;
}

#topic_header #topic_header_nav {
	float: right;
}
*/

#topic_header #topic_header_nav img {
	margin-left: 5px;
}

#topic_header a,
#topic_footer a,
#search_results a,
#popupMenu a {
	color: #e67104;
	text-decoration: none;
}

#topic_header a:hover,
#topic_footer a:hover,
#search_results a:hover,
#popupMenu a:hover{
	text-decoration: underline;
}

#topic_header  h1 {
	color: #fff;
	font-size: 18pt;
}

#topic_footer {
	font-size: 8pt;
	text-align: center;
	color: #808080;
}

#topic_breadcrumb {
	color: #e67104;
	font-size: 10pt;
}